body {
background-color: #269;
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
background-image: -webkit-linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
                  -webkit-linear-gradient(0, rgba(255,255,255,.3) 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: -moz-linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
                  -moz-linear-gradient(0, rgba(255,255,255,.3) 2px, transparent 2px),
                  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: -ms-linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
                  -ms-linear-gradient(0, rgba(255,255,255,.3) 2px, transparent 2px),
                  -ms-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -ms-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: -o-linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
                  -o-linear-gradient(0, rgba(255,255,255,.3) 2px, transparent 2px),
                  -o-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -o-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
                  linear-gradient(0, rgba(255,255,255,.3) 2px, transparent 2px),
                  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
}
.js-mindmap-active a.node {
  background:#444444;
  border: 2px solid white;
  border-radius: 20px;
}
.js-mindmap-active a.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
}
.js-mindmap-active a.node.activeparent {
  padding:5px 10px !important;
  border-width:5px !important;
  background:#aaaaaa;
}